{% extends 'base.html' %}

{% block title %}
<title>Home Page</title>
{% endblock title %}


{% block style %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;

    }
</style>
{% endblock style %}

{% block content %}

<div class="home-container">
    <div class="">
        Browser Topics
        <hr>
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>

        {% for topic in topics %}
        <div>
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name|title}}</a>
        </div>
        {% endfor %}
        <a href=""></a>
    </div>

    <div class="">
        <a href="{% url 'create-room' %}">Create Room</a>
        <h5>{{room_count}} Rooms Available</h5>
        <div class="">
            {% for room in rooms %}
            <a href="{% url 'update-room' room.id %}">Edit</a>
            <a href="{% url 'delete-room' room.id %}">Delete</a>
            <span>@{{room.host.username}}</span>
            <h5>{{room.id}}-- <a href="{% url 'room' room.id %}"> {{room.name}}</a></h5>
            <small>{{room.topic.name}}</small>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock content %}